body{
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
}

main{
    background-color: rgb(31, 31, 31);
    color: white;
    height: 1200px;
}

section{
    padding: 50px 0px 50px 0px;
}

#carousel{
    height: 250px;
    width: 100% ;
    overflow: hidden;
    padding: auto;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #carousel{
        height: 500px;
    }
}

@media screen and (min-width: 992px) {
    #carousel{
        height: 400px;
        width: 600px ;
    }
}